<style> 
.button {
  background-color: #e7e7e7; 
  border: none;
  color: grey;
  padding: 12px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

</style>